:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #404bbf;
  --white-color: #ffffff;
  --background-color: #f4f4fd;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/*======================= HEADER =======================*/
.section {
  padding-top: 120px;
  /* padding-bottom: 120px;*/
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logotype-part-header {
  color: #2e2f42;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cover {
  color: var(--accent-color);
}

.cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  /*left: 0;*/
  bottom: -28px;
  pointer-events: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-style: normal;
  margin-left: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  align-items: center;
}

/*======================= HERO =======================*/
.hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  min-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-titel {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 500px;
  justify-content: center;
  margin-right: auto;
}

.modal-btn {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: var(--white-color);
  border-radius: 4px;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero-wrap {
  display: inline-block;
}

/*======================= FEATURE =======================*/
.feature-title,
.filter-title {
  display: none;
}

.feature-list {
  display: flex;
  width: 264px;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.feature-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  width: 264px;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  width: 264px;
}

.feature-item::before {
  display: block;
  content: "";
  height: 112px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color);
  margin-bottom: 8px;
}

.icon-antenna:before {
  background-image: url(../images/antenna.svg);
}
.icon-vector:before {
  background-image: url(../images/Vector.svg);
}
.icon-diagram:before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut:before {
  background-image: url(../images/astronaut.svg);
}
/*======================= WORK =======================*/
.works {
  padding-bottom: 120px;
}
.works-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 72px;
}
.works-list {
  display: flex;
  gap: 24px;
}

/*======================== TEAM =======================*/
.team {
  background-color: var(--background-color);
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 8px;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/*======================= CUSTOMERS ====================*/
.customers {
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 130px;
  padding-bottom: 72px;
}

.company-list {
  display: flex;
  gap: 24px;
}

.company-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.company-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
  fill: #8e8f99;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:is(:hover, :focus) {
  border: 1px solid var(--accent-color);
}

.company-link:is(:hover, :focus) .company-icon {
  fill: var(--accent-color);
}

/*======================= FOOTER =======================*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
  margin-top: 16px;
  display: flex;
}
.footer-f {
  display: flex;
}

.logotype-part-footer {
  color: #f4f4fd;
}

.logotype-footer {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-wrap-soc {
  margin-left: 120px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.footer-text-soc {
  font-family: "Roboto", sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  justify-content: left;
  margin-bottom: 16px;
}

.footer-form-wrap {
  margin-left: 80px;
}

.online-input {
  font-size: 12px;
  line-height: 2;
  width: 260px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.online-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 8px;
  padding-top: 8px;
}

.online-lable-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 8px 24px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-left: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-btn-icon {
  margin-left: 16px;
}

.footer-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}
/*======================= FILTER =======================*/
.portfolio-page {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  padding: 12px 24px;
  cursor: pointer;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/*======================= Project Card =======================*/
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}
.card-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.card-cover-wrap {
  position: relative;
  overflow: hidden;
}

.cover-text-wrap {
  position: absolute;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 164px;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-cover-text {
  font-size: 16px;
  font-weight: 296px;
  line-height: 1.5;
  color: #f4f4fd;
}
.card-item:hover .cover-text-wrap {
  transform: translateY(0);
}
/*======================= CONTAINER ==========================*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/*================ backdrop, modal ======================= */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;
  width: 408px;
  min-height: 584px;
  background: #FCFCFC;
  border-radius: 4px;
  transition: transform 250ms linear;
  margin-top: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover, :focus) {
  background: var(--accent-color);
  fill: #fcfcfc;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-tittle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 38px;
  padding-bottom: 8px;
  padding-top: 8px;
  outline: transparent;
  background: #FCFCFC;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input::placeholder {

}

.modal-massage {
  width: 100%;
  height: 120px;
  font-size: 12px;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  outline: transparent;
  padding: 16px;
  margin-top: 4px;
  resize: none;
  background: #FCFCFC;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage::placeholder {
  font-size: 12px;
line-height: 1.17;
color: rgba(117, 117, 117, 0.5);

}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.input-text {
  font-size: 12px;
  line-height: 1.33;
  color: #8e8f99;

  /* display: inline-block;*/
}

.modal-fiaeld {
  margin-bottom: 8px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
}

.privaci-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.check-text::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
}

.input-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.input-check {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.submit-btn {
  display: block;
  align-items: center;
  text-align: center;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-color);
}
